<p id="notice"><%= notice %></p>

<p>
  <strong>Moniker:</strong>
  <%= @benefactor.moniker %>
</p>

<%= link_to 'Edit', edit_benefactor_path(@benefactor) %> |
<%= link_to 'Back', benefactors_path %>
